In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2022-02-06 20:24:52,-0.7393,-90.3518,84.16,88,53,8.01
1,1,Mataura,NZ,2022-02-06 20:24:53,-46.1927,168.8643,47.34,74,5,1.28
2,2,Albany,US,2022-02-06 20:24:53,42.6001,-73.9662,28.31,56,57,5.01
3,3,Chokurdakh,RU,2022-02-06 20:22:23,70.6333,147.9167,-39.57,100,91,2.21
4,4,Cape Town,ZA,2022-02-06 20:24:52,-33.9258,18.4232,67.12,75,20,6.91
...,...,...,...,...,...,...,...,...,...,...
539,539,Severo-Yeniseyskiy,RU,2022-02-06 20:41:02,60.3725,93.0408,6.42,98,100,1.72
540,540,Halifax,CA,2022-02-06 20:37:08,44.6453,-63.5724,20.21,72,3,2.30
541,541,Pineville,US,2022-02-06 20:41:02,31.3224,-92.4343,57.33,32,0,1.01
542,542,Pisco,PE,2022-02-06 20:41:03,-13.7000,-76.2167,71.02,83,20,10.36
543,543,Tucumcari,US,2022-02-06 20:42:03,35.1717,-103.7250,44.94,49,100,21.85

In [3]:
# data we use for mapping must be an int or float
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# adjust heatmap zoom, intensity, & point radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# use max() and list comprehension to cancel out any negative max temps
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# percent humidity heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# create a percent cloudiness heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# create a percent wind speed heatmap
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Get Vacation criteria: a feature that allows customers to search for locs based on temp prefs
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [25]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2022-02-06 20:24:52,-0.7393,-90.3518,84.16,88,53,8.01
7,7,Rikitea,PF,2022-02-06 20:24:56,-23.1203,-134.9692,79.12,70,1,17.02
8,8,Jatai,BR,2022-02-06 20:20:48,-17.8814,-51.7144,80.73,69,81,3.36
10,10,Atuona,PF,2022-02-06 20:24:57,-9.8000,-139.0333,78.69,73,1,19.01
14,14,Cidreira,BR,2022-02-06 20:24:58,-30.1811,-50.2056,80.22,55,0,11.52
...,...,...,...,...,...,...,...,...,...,...
517,517,Kendari,ID,2022-02-06 20:40:52,-3.9450,122.4989,78.21,83,100,7.05
525,525,Bathsheba,BB,2022-02-06 20:39:37,13.2167,-59.5167,81.21,69,40,17.27
527,527,Acarau,BR,2022-02-06 20:40:47,-2.8856,-40.1200,81.01,75,64,13.53
529,529,Katherine,AU,2022-02-06 20:40:57,-14.4667,132.2667,75.52,94,95,0.00
536,536,Vila Velha,BR,2022-02-06 20:41:00,-20.3297,-40.2925,80.94,84,40,8.99

In [26]:
# determine if there are any null values - if any rows with null values, drop the w/ dropna()
preferred_cities_df.count()

City_ID       135
City          135
Country       135
Date          135
Lat           135
Lng           135
Max Temp      135
Humidity      135
Cloudiness    135
Wind Speed    135
dtype: int64

In [29]:
# once they have filtered the database based on temp pref, show them a heatmap for max temp for filtered cities
# create a marker for ea city that will display name of city/country code/max temp & name of neaby hotel
# within 3 miles of coordinates when clicked

In [30]:
# need a new DF for hotels bc customers will need it to filter
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

             City Country  Max Temp      Lat       Lng Hotel Name
0    Puerto Ayora      EC     84.16  -0.7393  -90.3518
7         Rikitea      PF     79.12 -23.1203 -134.9692
8           Jatai      BR     80.73 -17.8814  -51.7144
10         Atuona      PF     78.69  -9.8000 -139.0333
14       Cidreira      BR     80.22 -30.1811  -50.2056
..            ...     ...       ...      ...       ...        ...
517       Kendari      ID     78.21  -3.9450  122.4989
525     Bathsheba      BB     81.21  13.2167  -59.5167
527        Acarau      BR     81.01  -2.8856  -40.1200
529     Katherine      AU     75.52 -14.4667  132.2667
536    Vila Velha      BR     80.94 -20.3297  -40.2925

[135 rows x 6 columns]

In [33]:
# now using lat/lng & google places API retrieve hotels from a nearby search

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotel_params = {
    "type": "lodging",
    "radius": 5000,
    "key": g_key}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
     # get latitude/longitude from df
    lat = row['Lat']
    lng = row['Lng']

    # add location to params dict
    hotel_params['location'] = f"{lat},{lng}"
    
    # make request and get JSON data from search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=hotel_params).json()
    
    # Use a try/except to get the first hotel from the results and store the name for each row
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Rikitea,PF,79.12,-23.1203,-134.9692,People ThankYou
8,Jatai,BR,80.73,-17.8814,-51.7144,La Vitre Hotel
10,Atuona,PF,78.69,-9.8000,-139.0333,Villa Enata
14,Cidreira,BR,80.22,-30.1811,-50.2056,Hotel Castelo
...,...,...,...,...,...,...
517,Kendari,ID,78.21,-3.9450,122.4989,Hotel Wixel
525,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
527,Acarau,BR,81.01,-2.8856,-40.1200,castelo pizzaria
529,Katherine,AU,75.52,-14.4667,132.2667,Pine Tree Motel
536,Vila Velha,BR,80.94,-20.3297,-40.2925,Quality Suites Vila Velha

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# now create a max temp heatmap from hotels df
# Add a heatmap of temperature for the vacation spots and marker for each city.
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))